<!DOCTYPE html>
<script src="/socket.io/socket.io.js"></script>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='./javascripts/tools.js' ></script>
    <script type="text/javascript" src='./javascripts/ojb.js' ></script>
    <script type="text/javascript">
      onload = (function(){
        ojb.init(new function(){
          this.address = '<%=conf.host%>:<%=conf.port%>';
          this.soc_msgs = {<%for (var key in conf.soc_msgs){%><%=key%> : '<%=conf.soc_msgs[key]%>',<%}%>};
          this.audio_mime_types = [<%for (var i=0; i<conf.mime_types.audio.length; i++){%>'<%=conf.mime_types.audio[i]%>',<%}%>];
          this.video_mime_types = [<%for (var i=0; i<conf.mime_types.video.length; i++){%>'<%=conf.mime_types.video[i]%>',<%}%>];
          return this;
        });
        ojb.start();
      });
    </script>
  </head>
  <body>
    <div id="dropzone">
      <div id='dropzone_caption'>追加したいファイルを画面にドロップ</div>
      <div id='upload_status_view'></div>
      <div id='upload_fails'></div>
    </div>
    <br>
    <div id="name"></div>
    <br>
    <div id='playinfo-container'>
      <div id="playinginfo"></div>
    </div>
    <br>
    <div id='mainarea'>
      <div id="playlist"></div>
    </div>
    <br>
    <div id="userlist"></div>
    <br>
    <div id='input_area'>
      <input type="text" id="newname" />
      <input type="button" id="changename" value="名前を変更" />
      <input type="button"  id="disconnect_btn" value="切断" />
      <input type="button"  id="reconnect_btn" value="再接続" />
    </div>
  </body>
</html>





